*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-image: url(utilidades/img/imagenDeFondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    overflow: hidden;
}

header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
}
header img{
    width: 120px;
}

h1{
    position: relative;
    text-align: center;
    margin-top: 100px;
    font-size: 80px;
    font-weight: lighter;
}
footer{
    background-color: #000;
    color: #777;
    padding: 40px;
    margin-top: 60px;
    font-size: 14px;
    text-align: center;
}
footer p{
    margin-bottom: 10px;
}

footer p:last-child{
    margin-bottom: 0;
    font-size: 12px;
    color: #555;
}

@media(max-width: 480px){
    header{
        justify-content: center;
    }
    
    header img{
        width: 90px;
    }
}
