*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to top, #000,#000, #4A0404);
}

main{
    width: 100vh;
    height: 100vh;
    
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
}
 header img{
    width: 120px;
 }

 footer{
    background-color: #000;
    color: #777;
    padding: 40px;
    margin-top: 60px;
    font-size: 14px;
    text-align: center;
}
footer p{
    margin-bottom: 10px;
}

footer p:last-child{
    margin-bottom: 0;
    font-size: 12px;
    color: #555;
}
@media(max-width: 480px){
    header{
        justify-content: center;
    }
    header img{
        width: 90px;
    }
}