*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to top, #000,#000, #4A0404);
}

main{
    width: 100vh;
    height: 100vh;
    
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
}
 header img{
    width: 120px;
 }

footer{
    background-color: #000;
    padding: 60px 40px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
footer a{
    display: block;
    text-decoration: none;
    color: #777;
    margin-bottom: 12px;
    font-size: 14px;
}
footer a:hover{
    text-decoration: underline;
}
.Flinks{
    margin-bottom: 30px;
}
.Fcopy{
    margin-top: 40px;
    font-size: 12px;
    color: #555;
}

footer p:last-child{
    margin-bottom: 0;
    font-size: 12px;
    color: #555;
}
@media(max-width: 480px){
    header h2{
        font-size: 26px;
    }
    form{
        padding: 25px 20px;
    }
    h1{
        font-size: 22px;
    }
    input{
        font-size: 13px;
    }
    button{
        font-size: 15px;
    }
    footer{
        flex-direction: column;
        padding: 40px 20px;
    }
    footer a{
        font-size: 13px;
    }
    .Fcopy{
        text-align: center;
    }
    header{
        justify-content: center;
    }
    header img{
        width: 90px;
    }
}