body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(utilidades/img/imagenDeFondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    color: #fff;
}

form{
    width: 420px;
    margin: 50px auto;
    background-color: #000;
    padding: 30px;
    border-radius: 3%;
}

h1{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
label{
    color: red;
    display: block;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
input[type="checkbox"],
input[type="radio"] {
    width: auto;
}
