*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url(utilidades/img/imagenDeFondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}

form{
    width: 420px;
    margin: 60px auto;
    background: linear-gradient(to top, #000,#000, #4A0404);
    padding: 35px;
    border-radius: 8px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
}
label{
    display: block;
    margin-bottom: 18px;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"]{
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: white;
}
input:focus{
    outline: none;
    background-color: #444;
}

fieldset{
    border: 1px solid #333;
    padding: 15px;
    margin-bottom: 20px;
}

legend{
    padding: 0 10px;
    font-size: 14px;
}
input[type="radio"],
input[type="checkbox"]{
    margin-right: 8px;
}

button{
    width: 100%;
    padding: 12px;
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
button:hover{
    background-color: #f6121d;
}